extends layout
block content
    form.auth(action='/auth/register' method='post')
        h4 Register your account
        br
        span Username:
        input(type='text' name='username')
        br
        span Password:
        input(type='password' name='password')
        br
        button(type='Register') Register