body {
    width: 1250px;
    margin: 20px auto;
}

#content {
    display: inline-block;
    width: 848px;
    padding-top: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fefefe;
    &.background {
        background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
        );
    }
    article {
        display: inline-block;
        width: 380px;
        margin: 0 20px 40px;
        padding: 0;
        vertical-align: top;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

        .block-header {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #f5f5f5;
            &.link {
                color: #333;
            }
            &.title {
                margin: 0 0 8px;
            }
        }

        .block-content {
            .description {
                font-weight: normal;
                margin: 0;
                padding: 10px;
            }

            .image {
                max-width: 100%;
            }
        }
    }
}

form.center {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

aside {
    display: inline-block;
    vertical-align: top;
    a {
        padding: 0 20px;
        text-decoration: none;
    }
    .user-name {
        padding-left: 20px;
    }
}

.navigation {
    margin: 20px auto;
    width: 112px;
}