button {
  line-height: 20px;
  padding: 4px 12px;
  cursor: pointer;
  color: #333;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
  border-radius: 4px;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  &:hover {
    background: #e6e6e6;
  }
}